{% if globalSet ?? null %}

    {% set editUri = 'settings/globals/' ~ globalSet.id %}
    {% set label = 'Edit Global Set'|t('cp-field-inspect') %}

    <div class="data" style="padding-top: 30px;" data-cpfieldlinks-sourcebtnwrapper>
        <p>
            {% include 'cp-field-inspect/_includes/edit-source-link.twig' %}
        </p>
    </div>

{% endif %}
