{% if product ?? null %}

    {% set editUri = 'commerce/settings/producttypes/' ~ product.typeId %}
    {% set sourceType = 'Product Type'|t('commerce') %}

    <div class="data" style="padding-top:10px;padding-bottom:20px;">
        <p>
            {% include 'cp-field-inspect/_includes/edit-source-link.twig' %}
        </p>
    </div>

{% endif %}
