{% if category ?? null %}

    {% set editUri = 'settings/categories/' ~ category.groupId %}
    {% set label = 'Edit Category Group'|t('cp-field-inspect') %}

    <div class="data" style="padding-bottom:20px;" data-cpfieldlinks-sourcebtnwrapper>
        <p>
            {% include 'cp-field-inspect/_includes/edit-source-link.twig' %}
        </p>
    </div>

{% endif %}
