{% if product ?? null %}

    {% set editUri = 'commerce/settings/producttypes/' ~ product.typeId %}
    {% set label = 'Edit Product Type'|t('cp-field-inspect') %}

    <div class="data" style="padding-top:10px;padding-bottom:20px;" data-cpfieldlinks-sourcebtnwrapper>
        <p>
            {% include 'cp-field-inspect/_includes/edit-source-link.twig' %}
        </p>
    </div>

{% endif %}
