{% if entry ?? null %}

    {% set entryTypes = null %}

    {% if entry.sectionId|default %}
        {% set section = entry.getSection() %}
        {% set entryTypes = section.getEntryTypes() %}
    {% elseif entry.typeId|default %}
        {% set entryTypes = [craft.app.entries.getEntryTypeById(entry.typeId)]|filter %}
    {% endif %}

    {% if entryTypes %}

        {% set label = 'Edit Entry Type'|t('cp-field-inspect') %}

        <div class="data" style="padding-top:15px;padding-bottom:20px;" data-cpfieldlinks-sourcebtnwrapper>
            <p>
                {% for entryType in entryTypes %}
                    {% set editUri = "settings/entry-types/#{entryType.id}" %}
                    {{ include('cp-field-inspect/_includes/edit-source-link.twig')|attr({
                        'data-typeid': entryType.id,
                        style: entryType.id != entry.typeId ? 'display:none;' : false
                    }) }}
                {% endfor %}
            </p>
        </div>

    {% endif %}

{% endif %}
