[data-cpfieldinspect-inited] span[data-icon="settings"]:hover,
[data-cpfieldinspect-inited] span[data-icon="settings"]:active {
    color: var(--link-color);
}

[data-cpfieldinspect-inited].copytextbtn:not(.copytextbtn-expand-l):not(.copytextbtn-expand-r) span.cp-field-inspect {
    display: flex;
    align-items: center;
    margin-top: -1px;
    margin-left: 2px;
}

.slideout-container .cp-field-inspect-sourcebtn-wrapper {
    display: none !important;
}

#details-container .cp-field-inspect-sourcebtn-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

#content.content-pane .cp-field-inspect-sourcebtn-wrapper {
    margin-top: 30px;
}
